{% extends 'base.html' %}
{% block title %}Post{% endblock %}

    {% block contents %}
    <br>
    <div class="row">
        <div class="col offset-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>カテゴリ</th>
                        <th>{{ form.category }}</th>
                    </tr>
                    <tr>
                        <th>タイトル</th>
                        <th>{{ form.title }}</th>
                    </tr>
                    <tr>
                        <th>コメント</th>
                        <th>{{ form.comment }}</th>
                    </tr>
                    <tr>
                        <th>画像１</th>
                        <th>{{ form.image1 }}</th>
                    </tr>
                    <tr>
                        <th>画像Ⅱ</th>
                        <th>{{ form.image2 }}</th>
                    </tr>
                </table>
                <hr>
                <button type="submit">投稿</button>
            </form>
        </div>
    </div>
    {% endblock %}